<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>eat9</title>
</head>

<body>
	<!-- Docs at http://simpleweatherjs.com -->
	<div id="weather"></div>
	
	
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http:////cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.simpleWeather.js') }}
"></script>

<script>
$(function() {
$.simpleWeather({
zipcode: '',
woeid: '1132599',
location: '',
unit: 'c',
success: function(weather) {

html = weather.temp+'&deg;';

$("#weather").html(html);
},
error: function(error) {
$("#weather").html('<p>'+error+'</p>');
}
});
});
</script>
</body>

</html>
